.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    background-color: #1890ff;
    width: 100%;
    text-align: center;
  }
  
  .trigger:hover {
    color: #fff;
  }
  
  .ml-200 {
    margin-left: 200px;
  }
  
  :global .ant-table td {
    white-space: nowrap;
  }
  