/* display none until init */
.product-carousel {
  position: relative;
  -ms-touch-action: pan-y;
}
#column-left .product-carousel,
#column-right .product-carousel {
  display: block;
}
#column-left .customNavigation,
#column-right .customNavigation {
  display: none;
}
#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation {
  display: block;
}
.product-carousel .slider-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.product-carousel .slider-item {
  float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div {
  cursor: pointer;
}
.slider-controls {
  -webkit-tap-highlight-color: transparent;
}
/* mouse grab icon */
/* fix */
.product-carousel .slider-wrapper,
.product-carousel .slider-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.owl-buttons,
.customNavigation {
  left: -25px;
  right: -25px;
  top: 50%;
  width: auto;
  position: absolute;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.related-products .owl-buttons,
.related-products .customNavigation {
  right: 10px;
  left: 10px;
}
.product-info .additional-carousel .owl-buttons,
.product-info .additional-carousel .customNavigation {
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.customNavigation a,
.owl-buttons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
.customNavigation a.prev,
.owl-buttons a.prev {
  right: auto;
  left: 0;
}
.customNavigation a.next,
.owl-buttons a.next {
  right: 0;
  left: auto;
}
.customNavigation a::before,
.owl-buttons a::before {
  background-color: #000;
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: 20px; */
  color: #fff;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  margin: auto;
  font-family: "FontAwesome";
  font-size: 20px;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
}
.customNavigation a.prev::before,
.owl-buttons a.prev::before {
  /* background-image: url("../../image/themeimage/pst-prod-prev.svg"); */
  content: "\f104";
}
.customNavigation a.prev:hover:before,
.owl-buttons a.prev:hover:before {
  /*background-image: url("../../image/themeimage/pst-prod-prev-hover.svg");*/
  background-color: rgba(236,34,41,0.9);
}
.customNavigation a.next:before,
.owl-buttons a.next:before {
  /*background-image: url("../../image/themeimage/pst-prod-next.svg");*/
  content: "\f105";
}
.customNavigation a.next:hover:before,
.owl-buttons a.next:hover:before {
  /*background-image: url("../../image/themeimage/pst-prod-next-hover.svg");*/
  background-color: rgba(236,34,41,0.9);
}
.category_tab.box:hover .customNavigation a,
.category_tab.box:hover .owl-buttons a {
  opacity: 1;
}
.banners-slider-carousel:hover .customNavigation a,
.banners-slider-carousel:hover .owl-buttons a {
  opacity: 1;
}
#homeblog:hover .customNavigation a,
#homeblog:hover .owl-buttons a {
  opacity: 1;
}
.box.related:hover .customNavigation a,
.box.related:hover .owl-buttons a {
  opacity: 1;
}
.box.special:hover .customNavigation a,
.box.special:hover .owl-buttons a {
  opacity: 1;
}
.box.featured:hover .customNavigation a,
.box.featured:hover .owl-buttons a {
  opacity: 1;
}
#hometabcontent:hover .customNavigation a,
#hometabcontent:hover .owl-buttons a {
  opacity: 1;
}
#pxtestimonialblock:hover .customNavigation a,
#pxtestimonialblock:hover .owl-buttons a {
  opacity: 1;
}
.product-info .product-image .customNavigation a.prev,
.product-info .product-image .customNavigation a.next {
  color: #000;
  cursor: pointer;
  position: absolute;
}
.product-info .product-image .customNavigation a.prev {
  left: 0;
  right: auto;
}
.product-info .product-image .customNavigation a.next {
  right: 0;
  left: auto;
}
.product-info .product-image .customNavigation a.prev:hover,
.product-info .product-image .customNavigation a.next:hover {
  color: #ff5d68;
  text-decoration: none;
}
.owl-carousel .owl-buttons div {
  opacity: 1 !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1235px) {
  .owl-buttons,
  .customNavigation {
    left: 0;
    right: 0;
  }
}
@media (max-width: 1199px) {
  .owl-buttons,
  .customNavigation {
    left: 0;
    right: 0;
  }
}
@media (max-width: 979px) {
}
@media (max-width: 767px) {
  .owl-buttons,
  .customNavigation {
    left: 15px;
    right: 15px;
  }
}
@media (max-width: 479px) {
  .customNavigation a,
  .owl-buttons a {
    opacity: 1;
  }
}
